{% extends 'base.html' %}

<style>input[type=text]:focus {
    border: 3px solid #555;
  }</style>
{% block content %}

<body>
    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h2 class="title">
                    Como está o clima?
                </h2>
                {% if error %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endif %}
                {% if success %}
                <div class="alert alert-success" role="alert">{{ success }}</div>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" name="city" type="text" placeholder="Nome da Cidade">
                                
                                <button class="btn btn-success">
                                    Adicionar cidade
                                </button>
                            </div>
                        </div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        {% set message_class = 'is-success' %}

                        {% if category == 'error' %}
                        {% set message_class = 'is-danger' %}
                        {% endif %}
                        <div class="notification {{ message_class }}">{{ message }}</div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                {% for weather in weather_data %}
                <div class="column is-one-third">

                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather.temperature }}° C</span>
                                        <br> {{ weather.description }}
                                    </p>
                                </div>
                            </div>
                            <div class="media-right">
                                <a href=" {{ url_for('delete_city', name=(weather.city)) }}">
                                    <button class="delete"></button>
                                </a>
                            </div>
                        </article>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</body>
{% endblock %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>